.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  outline: none;
  gap: 0.5rem;
  color: var(--gray-100);

  width: 100%;
  
  background: var(--gray-500);

  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.input:focus {
  border: 1px solid var(--purple-dark);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;

  width: 90px;

  background: var(--blue-dark);
  border-radius: 8px;
  border: none;
  height: 52px;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
}

.button:hover {
  opacity: 0.8;
}
